<%include partials/header.ejs%>
<!-- Main Section -->
<section id="fh5co-work" data-section="User's Projects">
  <div class="gradient" style="z-index: -100"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2>Welcome <%= username %></h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext">
            <h3>Manage or view your programs</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-bottom-padded-sm">
      <!-- Creates a Program "block" for each program upoloaded -->
      <%if (programs) {%> 
        <% for(var p in programs) {%>
      <div class="col-md-4 col-sm-6 col-xxs-12">
        <div class="fh5co-project-item image-popup">
          <div class="fh5co-text">
            <!-- Delete Program -->
            <a
              id="removeProgLink"
              href="/account/<%= username %>/remove/<%= programs[p].programName %>"
              ><i id="removeProg" class="fh5co-intro-icon icon-remove"></i
            ></a>
            <!-- Run Program -->
            <a
              id="titleLink"
              href="/viewer/<%= username %>/<%= programs[p].programName %>"
              ><p id="progTitle"><%= programs[p].programTitle %></p></a
            >
            <span>Click title to run this program!</span>
          </div>
        </div>
      </div>
        <%}%> 
      <%}%>
    </div>
    <!-- Upload New Program -->
    <p id="addFileButton">Upload New File</p>
    <a href="/upload/<%= username %>"
      ><button type="button" class="btn btn-info btn-circle btn-lg">
        <i class="glyphicon glyphicon-plus"></i></button
    ></a>
  </div>
</section>
<%include partials/footer.ejs%>
